body{
	padding-right: 4em;
	padding-left: 4em;
	background-color: #222F35;
}
h1{
	color: #909083;
}
.item {
	padding: 3px;
}
.item-list {
	line-height: 150%;
}
a{
	margin-right: 10px;
	text-decoration: none;
}

a:hover{
	background: #E6DB67;
	transition: color 3s;
}
a:link{
	color: #909083;
}
a:visited{
	color: #909083;
}

.category{
	/*background-color: #DCDFE6;*/
	color: green;
	/* text-align: center; */
}