<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.bootcss.com/vue/2.6.11/vue.common.js"></script> -->
    <link rel="stylesheet" href="../css/normal.css">
    <link rel="stylesheet" href="../css/mobile.css" media="(max-width:500px)">
    <title>官网下载导航</title>
</head>

<body>
    <h1>官网软件下载仓库</h1>
    <div id="app">
        <div class="category" v-for="group in groups">{{group.category}}
            <div class="items">
                <a v-for="url in group.urls" :href="url.url" :title="url.title">{{url.content}}</a>
            </div>
        </div>
    </div>
</body>
<script src="../js/lib/vue.js"></script>
<script src="js/main.js"></script>
</html>